# Used for tests

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
dnspython = "==2.0.0"
bumpversion = "*"
twine = "*"

[dev-packages]

[requires]
python_version = "3.7"
